In [159]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from keras.models import Sequential
from keras.layers import Dense, Input

In [160]:
data = pd.read_csv('keras_test.csv')

In [161]:
numeric_data = data.drop('ride_id', axis=1)
numeric_data = pd.get_dummies(numeric_data, columns=['rideable_type'])

In [162]:
print(data)

                 ride_id  rideable_type           started_at  \
0       C2F7DD78E82EC875  electric_bike  2022-01-13 11:59:47
1       A6CF8980A652D272  electric_bike  2022-01-10 08:41:56
2       BD0F91DFF741C66D   classic_bike  2022-01-25 04:53:40
3       CBB80ED419105406   classic_bike  2022-01-04 00:18:04
4       DDC963BFDDA51EEA   classic_bike  2022-01-20 01:31:10
...                  ...            ...                  ...
103765  8788DA3EDE8FD8AB  electric_bike  2022-01-18 12:36:48
103766  C6C3B64FDC827D8C  electric_bike  2022-01-27 11:00:06
103767  CA281AE7D8B06F5A  electric_bike  2022-01-10 16:14:51
103768  44E348991862319B  electric_bike  2022-01-19 13:22:11
103769  E477C594A182AE58  electric_bike  2022-01-13 17:24:43

                   ended_at             start_station_name start_station_id  \
0       2022-01-13 12:02:44       Glenwood Ave & Touhy Ave              525
1       2022-01-10 08:46:17       Glenwood Ave & Touhy Ave              525
2       2022-01-25 04:58:01  Sheffield Ave & Fullerton Ave     TA1306000016
3       2022-01-04 00:33:00       Clark St & Bryn Mawr Ave     KA1504000151
4       2022-01-20 01:37:12    Michigan Ave & Jackson Blvd     TA1309000002
...                     ...                            ...              ...
103765  2022-01-18 12:46:19   Clinton St & Washington Blvd           WL-012
103766  2022-01-27 11:02:40       Racine Ave & Randolph St            13155
103767  2022-01-10 16:20:58        Broadway & Waveland Ave            13325
103768  2022-01-19 13:24:27       Racine Ave & Randolph St            13155
103769  2022-01-13 17:28:14   Clinton St & Washington Blvd           WL-012

                     end_station_name end_station_id  start_lat  start_lng  \
0                Clark St & Touhy Ave         RP-007  42.012800 -87.665906
1                Clark St & Touhy Ave         RP-007  42.012763 -87.665967
2       Greenview Ave & Fullerton Ave   TA1307000001  41.925602 -87.653708
3           Paulina St & Montrose Ave   TA1309000021  41.983593 -87.669154
4              State St & Randolph St   TA1305000029  41.877850 -87.624080
...                               ...            ...        ...        ...
103765                            NaN            NaN  41.883436 -87.641391
103766                            NaN            NaN  41.884158 -87.656977
103767            Clark St & Grace St   TA1307000127  41.949066 -87.648611
103768                            NaN            NaN  41.884005 -87.657031
103769      Desplaines St & Kinzie St   TA1306000003  41.883248 -87.641244

          end_lat    end_lng member_casual
0       42.012560 -87.674367        casual
1       42.012560 -87.674367        casual
2       41.925330 -87.665800        member
3       41.961507 -87.671387        casual
4       41.884621 -87.627834        member
...           ...        ...           ...
103765  41.890000 -87.620000        casual
103766  41.880000 -87.650000        casual
103767  41.950780 -87.659172        casual
103768  41.880000 -87.660000        casual
103769  41.888716 -87.644448        casual

[103770 rows x 13 columns]

In [163]:
print(numeric_data)

                 started_at             ended_at  \
0       2022-01-13 11:59:47  2022-01-13 12:02:44
1       2022-01-10 08:41:56  2022-01-10 08:46:17
2       2022-01-25 04:53:40  2022-01-25 04:58:01
3       2022-01-04 00:18:04  2022-01-04 00:33:00
4       2022-01-20 01:31:10  2022-01-20 01:37:12
...                     ...                  ...
103765  2022-01-18 12:36:48  2022-01-18 12:46:19
103766  2022-01-27 11:00:06  2022-01-27 11:02:40
103767  2022-01-10 16:14:51  2022-01-10 16:20:58
103768  2022-01-19 13:22:11  2022-01-19 13:24:27
103769  2022-01-13 17:24:43  2022-01-13 17:28:14

                   start_station_name start_station_id  \
0            Glenwood Ave & Touhy Ave              525
1            Glenwood Ave & Touhy Ave              525
2       Sheffield Ave & Fullerton Ave     TA1306000016
3            Clark St & Bryn Mawr Ave     KA1504000151
4         Michigan Ave & Jackson Blvd     TA1309000002
...                               ...              ...
103765   Clinton St & Washington Blvd           WL-012
103766       Racine Ave & Randolph St            13155
103767        Broadway & Waveland Ave            13325
103768       Racine Ave & Randolph St            13155
103769   Clinton St & Washington Blvd           WL-012

                     end_station_name end_station_id  start_lat  start_lng  \
0                Clark St & Touhy Ave         RP-007  42.012800 -87.665906
1                Clark St & Touhy Ave         RP-007  42.012763 -87.665967
2       Greenview Ave & Fullerton Ave   TA1307000001  41.925602 -87.653708
3           Paulina St & Montrose Ave   TA1309000021  41.983593 -87.669154
4              State St & Randolph St   TA1305000029  41.877850 -87.624080
...                               ...            ...        ...        ...
103765                            NaN            NaN  41.883436 -87.641391
103766                            NaN            NaN  41.884158 -87.656977
103767            Clark St & Grace St   TA1307000127  41.949066 -87.648611
103768                            NaN            NaN  41.884005 -87.657031
103769      Desplaines St & Kinzie St   TA1306000003  41.883248 -87.641244

          end_lat    end_lng member_casual  rideable_type_classic_bike  \
0       42.012560 -87.674367        casual                           0
1       42.012560 -87.674367        casual                           0
2       41.925330 -87.665800        member                           1
3       41.961507 -87.671387        casual                           1
4       41.884621 -87.627834        member                           1
...           ...        ...           ...                         ...
103765  41.890000 -87.620000        casual                           0
103766  41.880000 -87.650000        casual                           0
103767  41.950780 -87.659172        casual                           0
103768  41.880000 -87.660000        casual                           0
103769  41.888716 -87.644448        casual                           0

        rideable_type_docked_bike  rideable_type_electric_bike
0                               0                            1
1                               0                            1
2                               0                            0
3                               0                            0
4                               0                            0
...                           ...                          ...
103765                          0                            1
103766                          0                            1
103767                          0                            1
103768                          0                            1
103769                          0                            1

[103770 rows x 14 columns]

In [164]:
x=numeric_data.drop('member_casual', axis=1)
y=data['member_casual']

In [165]:
print(x)

                 started_at             ended_at  \
0       2022-01-13 11:59:47  2022-01-13 12:02:44
1       2022-01-10 08:41:56  2022-01-10 08:46:17
2       2022-01-25 04:53:40  2022-01-25 04:58:01
3       2022-01-04 00:18:04  2022-01-04 00:33:00
4       2022-01-20 01:31:10  2022-01-20 01:37:12
...                     ...                  ...
103765  2022-01-18 12:36:48  2022-01-18 12:46:19
103766  2022-01-27 11:00:06  2022-01-27 11:02:40
103767  2022-01-10 16:14:51  2022-01-10 16:20:58
103768  2022-01-19 13:22:11  2022-01-19 13:24:27
103769  2022-01-13 17:24:43  2022-01-13 17:28:14

                   start_station_name start_station_id  \
0            Glenwood Ave & Touhy Ave              525
1            Glenwood Ave & Touhy Ave              525
2       Sheffield Ave & Fullerton Ave     TA1306000016
3            Clark St & Bryn Mawr Ave     KA1504000151
4         Michigan Ave & Jackson Blvd     TA1309000002
...                               ...              ...
103765   Clinton St & Washington Blvd           WL-012
103766       Racine Ave & Randolph St            13155
103767        Broadway & Waveland Ave            13325
103768       Racine Ave & Randolph St            13155
103769   Clinton St & Washington Blvd           WL-012

                     end_station_name end_station_id  start_lat  start_lng  \
0                Clark St & Touhy Ave         RP-007  42.012800 -87.665906
1                Clark St & Touhy Ave         RP-007  42.012763 -87.665967
2       Greenview Ave & Fullerton Ave   TA1307000001  41.925602 -87.653708
3           Paulina St & Montrose Ave   TA1309000021  41.983593 -87.669154
4              State St & Randolph St   TA1305000029  41.877850 -87.624080
...                               ...            ...        ...        ...
103765                            NaN            NaN  41.883436 -87.641391
103766                            NaN            NaN  41.884158 -87.656977
103767            Clark St & Grace St   TA1307000127  41.949066 -87.648611
103768                            NaN            NaN  41.884005 -87.657031
103769      Desplaines St & Kinzie St   TA1306000003  41.883248 -87.641244

          end_lat    end_lng  rideable_type_classic_bike  \
0       42.012560 -87.674367                           0
1       42.012560 -87.674367                           0
2       41.925330 -87.665800                           1
3       41.961507 -87.671387                           1
4       41.884621 -87.627834                           1
...           ...        ...                         ...
103765  41.890000 -87.620000                           0
103766  41.880000 -87.650000                           0
103767  41.950780 -87.659172                           0
103768  41.880000 -87.660000                           0
103769  41.888716 -87.644448                           0

        rideable_type_docked_bike  rideable_type_electric_bike
0                               0                            1
1                               0                            1
2                               0                            0
3                               0                            0
4                               0                            0
...                           ...                          ...
103765                          0                            1
103766                          0                            1
103767                          0                            1
103768                          0                            1
103769                          0                            1

[103770 rows x 13 columns]

In [166]:
print(y)

0         casual
1         casual
2         member
3         casual
4         member
           ...
103765    casual
103766    casual
103767    casual
103768    casual
103769    casual
Name: member_casual, Length: 103770, dtype: object

In [167]:
label_encoder = LabelEncoder()
y = label_encoder.fit_transform(y)

In [168]:
x_train, x_test, y_train, y_test = train_test_split(x , y , test_size=0.2, random_state=42)

In [169]:
model = Sequential()
model.add(Input(shape=(x_train.shape[1],)))
model.add(Dense(10, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

In [170]:
model.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics=['accuracy'])

In [171]:
x_train = x_train.astype(float)
y_train = y_train.astype(float)

ValueError: could not convert string to float: '2022-01-31 08:55:45'

In [ ]:
model.fit(x_train, y_train, epochs=100, batch_size=32, verbose=1)

In [ ]:
loss, accuracy = model.evaluate(x_test, y_test)

In [ ]:
print(f'Test accuracy: {accuracy * 100:.2f}%')